<h2> Click below to log in as system operator: </h2>

<button type="submit" class="btn btn-info">Login as operator</button>

<br><a href="/edit">Edit Trains and Cities</a>

<br><a href="/">Return to homepage.</a>